body {
  font-family: "Roboto", Helvetica, sans-serif;
  background-color: #fafafa;
  color: #333;
  text-align: center;
  padding-top: 50px;
}

.hidden {
  display: none !important;
}

.intro-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.case-section {
  display: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 20px auto;
  max-width: 600px;
}

.active-case {
  display: block !important;
}

.final-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #dfe7f0;
  color: #212121;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Стили модального окна */
.result-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  text-align: center;
}

.modal-content button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #bfd2e7;
  color: #212121;
}